
    <div class="container">
        <div class="row">  
            <p>
                <b>
                    City List
                </b>
            </p>
        </div>
    </div>
    <div class="container" style="text-align: center;">
        <form [formGroup]="cityForm">
        <div class="row">
        
            <div class="col-sm-2">
                <label mdbLabel class="form-label" for="txtCityName">City Name</label>
            </div>                 
            <div class="col-sm-4">
                <input mdbInput type="text" id="txtCityName" class="form-control"  formControlName="Name" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-rounded blue-gradient " id="btnSearch"  (click)="SearchCity()">Search</button>   &nbsp;                        
                <button class="btn btn-rounded blue-gradient " id="btnAdd"  (click)="BackToAddCity()" style="width: auto;">Add City</button>
            </div>
        </div>
    </form>
    </div>
    <br>
    <div class="container">
        <ag-grid-angular
        id="mygrid"
        style="width: 82%; height: 70%;position: absolute;"
        class="ag-theme-alpine-dark"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [suppressCellFocus]="true"
        [statusBar]="statusBar"
        [rowData]="rowData$ | async"
        [rowSelection]="'multiple'"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
      ></ag-grid-angular>
    </div>
